@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
    // All colors
    
    --color-primary: 99, 95, 199;
    --color-primary-light: #A8A4FF;
    
    --color-secondary: 234, 85, 85;
    --color-secondary-light: #FF9898;

    --color-light-grey: #F4F7FD;
    --color-white: #FFFFFF;

    --color-dark-grey: #2B2C37;    
    --color-very-dark-grey: #20212C;    
        
    --color-medium-grey: #828FA3;
    
    --color-black: #000112;
    
    --color-border-dark: #3E3F4E;
    --color-border-light: #E4EBFA;

    // default theme
    --color-text-base: var(--color-black);
    --color-text-muted: var(--color-medium-grey);
    --color-text-accent: rgb(var(--color-primary));

    --color-background-primary: var(--color-white);
    --color-background-secondary: var(--color-light-grey);

    --color-border-base: var(--color-border-light);
    --color-border-input: rgba(130,143,163, 0.25);

    --color-btn-primary: rgb(var(--color-primary));
    --color-btn-primary-hover: var(--color-primary-light);
    --color-btn-secondary: rgb(var(--color-primary), 10%);
    --color-btn-secondary-hover: rgb(var(--color-primary), 25%);
    --color-btn-danger: rgb(var(--color-secondary));
    --color-btn-danger-hover: var(--color-secondary-light);
  }
  
  // dark theme
  .dark-color-theme {
    
    --color-text-base: var(--color-white);
    --color-text-muted: var(--color-medium-grey);
    --color-text-accent: var(--color-primary-light);
    
    --color-background-primary: var(--color-dark-grey);
    --color-background-secondary: var(--color-very-dark-grey);
    
    --color-border-base: var(--color-border-dark);

    --color-btn-secondary: var(--color-white);
    --color-btn-secondary-hover: var(--color-white);    
  }
  
  .dark-theme {
    @extend .dark-color-theme;
  }
}

.container {
  @apply grid grid-cols-12 max-w-[100vw] lg:max-w-full 2xl:w-[1111px] mx-auto;  
}

/* Set the width of the scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;  
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background-color: transparent; /* Set a background color */  
  opacity: 0;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: var(--color-text-muted); /* Set a background color */
  border-radius: 12px; /* Set rounded corners */  
}

/* Hide the scrollbar when it's not being used */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-background-primary);
}

// Hide the corner of the scrollbar
::-webkit-scrollbar-corner {
  background-color: transparent;
}

